---
import { TCase } from "../../types";
import Cases from "./Cases";
import {cases} from "../../content/cases"
---

<section class='test py-24 bg-gray-200'>
  <h2 class='text-3xl xl:text-6xl xl:pt-0 text-center'>
    SPRAWY RODZINNE, KTÓRE PROWADZIMY
  </h2>
  <div class='w-10 h-1 bg-[#cdb171] my-10 mx-auto'></div>
  <Cases client:visible cases={cases} />
</section>

<style></style>
