---
import { TCase } from "../../types";
import Cases from "./Cases";
const cases = [
  {
    id: 1,
    title: "OPIEKA NAD DZIECKIEM",
    text: "Rodzice mają równe prawo do obecności w życiu dziecka i podejmowania decyzji, które mają wpływ na jego zdrowie i samopoczucie. Może to być trudne, gdy rodzice się rozstają, wyprowadzają się i/lub wykazują zachowanie, które może narazić dziecko na niebezpieczeństwo. Jeśli chcesz walczyć o opiekę nad dzieckiem, masz prawo skierować sprawę do sądu.",
  },
  {
    id: 2,
    title: "POMOC DZIECIOM",
    text: "Jako rodzic masz obowiązek zadbać o to, by Twoje dziecko było pod opieką finansową. Nie bierzesz na siebie tego obowiązku sam. Drugi rodzic dziecka również ponosi tę odpowiedzialność. Jeśli nie uważasz, że drugi rodzic Twojego dziecka wywiązuje się ze swoich zobowiązań finansowych wobec dziecka, możesz złożyć wniosek o alimenty.",
  },
  {
    id: 3,
    title: "ROZWÓD",
    text: "Rozwód nigdy nie jest łatwy. Nasi prawnicy rozwodowi z Los Angeles są tutaj, aby pomóc Ci przejść przez ten trudny czas. W Kalifornii istnieją pewne problemy, które muszą zostać rozwiązane przed sfinalizowaniem rozwodu, w tym opieka nad dzieckiem, obowiązki alimentacyjne i podział majątku. Czas trwania tego procesu będzie na ogół zależeć od tego, jak Ty i Twój przyszły były małżonek będziecie współpracować w celu sfinalizowania tych szczegółów.",
  },
  {
    id: 4,
    title: "PRZEMOC W RODZINIE",
    text: "Przemoc domowa, która może obejmować przemoc fizyczną, przemoc emocjonalną, a nawet przemoc finansową, stanowi coraz większy problem rodzin w Los Angeles. W typowy dzień policja odpowie na ponad 130 wezwań dotyczących przemocy domowej. Statystyki pokazują, że przemoc domowa dotyka głównie kobiety i dzieci. W rzeczywistości 40 procent kobiet w Kalifornii doświadczy w pewnym momencie swojego życia przemocy domowej.",
  },
  {
    id: 5,
    title: "ROZWÓD WYSOKIEJ NETTO",
    text: "Pieniądze wszystko komplikują. Kiedy dostaniesz rozwód, musisz dowiedzieć się, jak ty i twój małżonek podzielicie się swoimi aktywami. W Kalifornii każdy z was ma prawo do połowy całego majątku wspólnego. W sytuacjach o wysokiej wartości netto nierzadko zdarza się, że małżonkowie toczą gorące spory dotyczące przydziału nieruchomości. Argumenty o tym, jak należy klasyfikować własność – wspólnota czy odrębność – mogą wybuchnąć i spowodować napięcie.",
  },
  {
    id: 6,
    title: "PODZIAŁ MAJĄTKU",
    text: "Kiedy kończysz małżeństwo, musisz dowiedzieć się, jak podzielić majątek, majątek i długi między siebie i współmałżonka. Jeśli nie jesteś w najlepszych stosunkach, może to być bardzo trudne do osiągnięcia. Na szczęście prawo kalifornijskie zapewnia pewne wytyczne dotyczące podziału majątku.",
  },
  {
    id: 7,
    title: "OJCOSTWO",
    text: "W Polsce oboje rodzice mają równe prawa i obowiązki wobec swoich dzieci. Chociaż identyfikacja matki dziecka będzie dość prosta, ustalenie ojcostwa może być trudniejsze. Ogólnie rzecz biorąc, Kodeks Rodzinny zakłada ojcostwo, gdy dziecko rodzi się z rodziców, którzy są w związku małżeńskim, mieszkają razem lub są uczuciowo związani. Sprawy mogą się komplikować, gdy krążą plotki o niewierności, rodzice nie mieszkają razem lub ojciec jest bezsilny lub bezpłodny.",
  },
  {
    id: 8,
    title: "ZAMÓWIENIA PRZEPROWADZANIA",
    text: "Dziś nie jest niczym niezwykłym, że dorośli odbierają i przemieszczają się po całym kraju. Może to dotyczyć nowej możliwości pracy, opieki nad starzejącą się rodziną, a nawet podjęcia nowej edukacji. Sprawy mogą się jednak komplikować, gdy rodzic dzieli opiekę nad swoimi dziećmi. Jeden rodzic może chcieć zabrać ze sobą swoje dziecko, ale drugi rodzic dziecka może obawiać się wykorzenienia życia dziecka i utraty kontaktu.",
  },
];
---

<section class='test py-24 bg-gray-200'>
  <h2 class='text-3xl xl:text-6xl pt-8 xl:pt-0 text-center'>
    SPRAWY RODZINNE, KTÓRE PROWADZIMY
  </h2>
  <div class='w-10 h-1 bg-[#cdb171] my-10 mx-auto'></div>
  <Cases client:visible cases={cases} />
</section>

<style></style>
