---
import { TCase } from "../../types";
---

<section class='test py-32 bg-gray-200'>
  <h2 class='text-6xl pt-8 xl:pt-0'>SPRAWY RODZINNE, KTÓRE PROWADZIMY</h2>
  <div class='w-10 h-1 bg-[#cdb171] my-10'></div>
</section>

<style></style>
