@font-face {
  font-family: "Pathway Gothic One";
  src: url("/fonts/PathwayGothicOne-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GemunuLibre-Regular";
  src: url("/fonts/GemunuLibre-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("/fonts/Oswald-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Oswald-Regular", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Oswald-Regular", sans-serif;
}

.top_menu {
  right: -1000px;
}

.top_menu.active {
  display: block;
  right: 0;
  animation: top_in linear 0.8s forwards;
}

.hide {
  animation: top_out linear 0.8s backwards;
}

@keyframes top_in {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes top_out {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
    display: none;
  }
}

.award_img {
  max-height: 130px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.text_shadow {
  text-shadow: 1px 2px rgba(0, 0, 0, 0.8);
}

.topmenu > li + li {
  margin-top: 10px;
}

.topmenu_item:hover > .topmenu_div > .topmenu_target {
  background-color: rgb(59 130 246);
}
