@font-face {
  font-family: "Oswald-Regular";
  src: url("/fonts/Oswald-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("/fonts/Oswald-Light.ttf") format("opentype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Oswald-Regular", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Oswald-Regular", sans-serif;
}

.award_img {
  max-height: 130px;
}

/* Swiper */

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

/* Text shadow */

.text_shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

/* Menu */

.topmenu_text {
  font-family: "Oswald-Light", sans-serif;
}

.topmenu > li + li {
  margin-top: 10px;
}

.topmenu_item:hover > .topmenu_div > .topmenu_target {
  background-color: rgb(59 130 246);
}

.top_menu {
  right: -1000px;
}

.top_menu.active {
  display: block;
  right: 0;
  animation: top_in linear 0.8s forwards;
}

.hide {
  animation: top_out linear 0.8s backwards;
}

@keyframes top_in {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes top_out {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
    display: none;
  }
}

/* Loader */

#preloader {
  background: rgb(11, 88, 177);
  background-size: 20%;
  /* background: #000; */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Markdown */

.markdown > p {
  padding-bottom: 10px;
}

.markdown > blockquote {
  color: brown;
}

/* Arrow */
.arrow {
  border: solid rgb(43, 38, 38);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transition: all 0.3s;
}

.arrow_disabled {
  border: solid rgba(43, 38, 38, 0.199);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transition: all 0.3s;
}

.arrow:hover {
  border: solid rgb(59 130 246);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
