---
---

<section class='test py-24'>
  <h2 class='text-3xl xl:text-6xl pt-8 xl:pt-0 text-center uppercase'>O nas</h2>
  <div class='w-10 h-1 bg-[#cdb171] my-10 mx-auto'></div>
  <div class='content lg:text-xl px-10'>
    <p>
      W kancelarii nasi prawnicy zajmujący się prawem rodzinnym w Los Angeles
      wiedzą, że kwestie takie jak rozwód, opieka nad dzieckiem, alimenty i
      alimenty są emocjonalne i niepokojące dla wielu par. Mamy ponad 25-letnie
      doświadczenie w prowadzeniu skomplikowanych spraw z zakresu prawa
      rodzinnego w Gdańsku i okolicach
    </p>
    <p>
      Konsekwentnie odnosimy sukcesy w osiąganiu wielomilionowych rozliczeń
      majątkowych, a także korzystnych ustaleń dotyczących opieki, alimentów i
      alimentów dla naszych klientów. Agresywnie walczymy o Twoje interesy
      finansowe i osobiste.
    </p>
    <p>
      Niezależnie od tego, czy interesuje Cię mediacja, masz do czynienia ze
      złożonym podziałem aktywów o wysokiej wartości netto, czy też masz do
      czynienia z umowami powierniczymi na odległość, możemy pomóc Ci przejść
      przez ten trudny czas.
    </p>
    <p>
      Obsługujemy klientów na terenie całego powiatu gdańskiego, z biurami
      dogodnie zlokalizowanymi w centrum Gdańska.
    </p>
  </div>
</section>
<style>
  .content > p {
    margin-bottom: 10px;
  }
</style>
