---
import Burger from "./Burger"
---

<div class="prime">
    <Burger client:load/>
    <div class="absolute top-10 left-0 right-0 flex justify-between items-center  h-[230px]  pr-[300px] pl-10">      
          <img src="/public/logo.svg" alt="logo"/>
          <div class="flex">
              <a class="text-[40px] text-white" href="tel:123-456-7890">123-456-7890</a>           
          </div>
     
    </div>
   
    </div>


<style>

  .prime {
   height: 100vh;
   background: url(/hero-lg.webp) no-repeat center / cover;
  }

  @media (max-width: 767px){
    .prime{
      height: 700px;      
      background: url(/hero-mini.webp) no-repeat center / cover;
  }
    } 
  
  </style>