---
import Burger from "./Burger";
import { PrimeData, ContactData } from "../types";
const response = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/prime"
);
const awards_data = (await response.json()) as PrimeData;
const { title, subtitle, button } = awards_data.data.attributes;

const response_contact = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/contact"
);
const contact_data = (await response_contact.json()) as ContactData;
const { number_phone, visible_phone } = contact_data.data.attributes;
---

<div class='prime'>
  <div
    class='absolute lg:top-10 left-0 right-0 flex gap-x-4 xl:gap-x-0 xl:justify-between items-center xl:h-[180px] pr-[90px] xl:pr-[300px] pl-4 xl:pl-10'
  >
    <a href='/'
      ><img src='/logo.svg' alt='logo' class='w-[100px] lg:w-[400px]' />
    </a>
    <div class='flex flex-col lg:text-[5vh] text-white my-stroke'>
      <div class='uppercase'>Telefon do kontaktu:</div>
      <a class='' href={`tel:${number_phone}`}>{visible_phone}</a>
    </div>
  </div>

  <div
    class='absolute top-[60vh] lg:top-[24vh] lg:left-[5vw] mx-2 lg:max-w-[50%] flex flex-col justify-center text-white my-stroke'
  >
    <h1
      class='text-center text-xl lg:text-[7vh] tracking-widest lg:leading-[9vh] mb-5 lg:mb-5 xl:mb-10 bg-black/50 lg:bg-transparent mx-2 xl:mx-0 p-2 xl:p-0 uppercase'
    >
      Rozwód w Gdańsku
    </h1>
    <p
      class='hidden lg:block text-center text-xl xl:text-[4vh] mb-5 lg:mb-5 xl:mb-10 xl:tracking-[6px] mx-2 bg-black/50 lg:bg-transparent p-2'
    >
      20 lat doświadczenia
    </p>
    <a
      href='#myform'
      class='text-center uppercase xl:text-[2vh] py-2 lg:py-6 mx-2 lg:px-10 bg-[#d8380d] hover:bg-yellow-400 hover:text-gray-800 cursor-pointer max-w-max lg:mx-auto lg:tracking-[4px] xl:mx-0'
      >{button}</a
    >
  </div>
</div>

<style>
  .prime {
    height: 70vh;
    background: url(/hero-lg.webp) no-repeat top/ cover;
  }

  @media (max-width: 767px) {
    .prime {
      height: 550px;
      background: url(/hero-mini.webp) no-repeat bottom / cover;
    }
  }
</style>
