---
---

<footer>
  <div class="bg-[#0e1c39] text-white py-32">
    <div class="flex">
      <div >
        <a href="/"
          ><img src="/logo.svg" alt="logo" class="w-[100px] xl:w-[400px]" />
        </a>
      </div>
    </div>
  </div>
  <div class="text-black">COPYRIGHT 2022 | Created by Igor Rak</div>
</footer>
