---
---

<footer>
  <div class='bg-[#0e1c39] text-white'>
    <div
      class='flex w-11/12 xl:w-10/12 mx-auto py-5 items-center justify-center gap-x-10'
    >
      <div>
        <a href='/'
          ><img src='/logo.svg' alt='logo' class='w-[100px] xl:w-[400px]' />
        </a>
      </div>
      <div>Prawo razwodowe</div>
    </div>
  </div>
  <div class='text-black py-5 text-center'>
    COPYRIGHT 2022 | Created by Igor Rak
  </div>
</footer>
