---
import Navigation from "../components/Navigation.astro";
interface Props {
  title: string;
}
const { title = "Astro default" } = Astro.props as Props;
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <div class='mt-[50px] max-w-[960px] m-auto'>
      <slot />
    </div>
  </body>
</html>
