---
import Navigation from "../components/Navigation.astro";
interface Props {
  title: string;
  description: string;
}
const { title = "Astro default" } = Astro.props as Props;
import "../styles/global.css";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='Zadzwoń do adwokata rozwodowego i jego zespół ma ponad 25-letnie doświadczenie. Bezpłatna konsultacja pod numerem 123-456-789'
    />
    <meta name='robots' content='all' />
    <link rel='canonical' href='https://radca-test.pl/index.html' />

    <title>{title}</title>
  </head>
  <body>
    <div id='preloader'>
      <div class='lds-ring'><div></div><div></div><div></div><div></div></div>
    </div>
    <slot />
    <script>
      var loader = document.getElementById("preloader");
      loader.style.display = "none";
    </script>
  </body>
</html>
