---
import Form from "./Form";
---

<section class='lg:flex lg:gap-x-20 w-11/12 lg:w-full mx-auto'>
  <div class='mb-0'>
    <iframe
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31277.009230190415!2d18.666125244049205!3d54.36267754975878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd73710d9770f9%3A0xe2010c5f4e6145ad!2sEuropejskie%20Centrum%20Solidarno%C5%9Bci!5e0!3m2!1spl!2spl!4v1665907138193!5m2!1spl!2spl'
      width='800'
      height='600'
      style='border:0;'
      allowfullscreen=''
      loading='lazy'
      referrerpolicy='no-referrer-when-downgrade'></iframe>
  </div>
  <div class='basis-full mx-10'><Form client:visible /></div>
</section>
