---
import Form from "./Form";
import MyMap from "./MyMap";
---

<section class='lg:flex lg:gap-x-20 w-11/12 lg:w-full mx-auto'>
  <div class='mb-0 lg:basis-1/2'>
    <MyMap client:visible />
  </div>
  <div class='mx-10 lg:basis-1/2'><Form client:visible /></div>
</section>
